<div class="topnav" id="myTopnav">
  <a href="./" class="active">Home</a>
  <a href="./index2_Articles">Articles</a>
  <div class="dropdown">
    <button class="dropbtn">Resources 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./p_Koine_Resources_Books">Books</a>
      <a href="./p_Koine_Resources_Software">Software</a>
      <a href="./p_Koine_Resources_Online">Online</a>
      <a href="./p_Koine_Resources_Motivation">Motivation</a>
    </div>
  </div> 
<div class="dropdown">
    <button class="dropbtn">Grammar 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./p_paradigms.html">Paradigms</a>	  
      <a href="./p_Vocab.html">Vocabulary</a>
      <a href="./p_Principle_Parts_of_Verbs.html">Verbs</a>
    </div>
  </div> 

  <a href="./m_Contact">Contact</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>